:root {
    --chart-green: oklch(0.6487 0.1538 150.3071);
    --chart-red: oklch(0.6368 0.2078 25.3313);
    --chart-white: oklch(1 0 0);
}

.dark {
    --chart-green: oklch(0.6487 0.1538 150.3071);
    --chart-red: oklch(0.6368 0.2078 25.3313);
    --chart-white: oklch(1 0 0);
}

@theme inline {
    --color-chart-green: var(--chart-green);
    --color-chart-red: var(--chart-red);
    --color-chart-white: var(--chart-white);
}