<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Cyberwyvern" value="https://nuget.pkg.github.com/dkarpliuk/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Cyberwyvern>
      <add key="Username" value="dkarpliuk" />
      <add key="ClearTextPassword" value="%GH_PACKAGES_TOKEN%" />
    </Cyberwyvern>
  </packageSourceCredentials>
</configuration>
